spring:
  application:
    name: user-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jdbc:
    template:
      fetch-size: 200
      max-rows: 10000

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "health,info"

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600
